


.bg-neutral-900{
    
    background-color: #030b07;
}
.fondo{
    height: 100px;
    position: relative;
    left: 233px;
    top: -27px;
    
}
.min-h-screen{
    position: absolute;
    top: 100px;
    height: 100px;
}
header {
    position: relative;
    display: wrap;

}

.logocontenedor {
    position: relative;
    display: flex;
    display: wrap;
    left: -76px;
    top: -8px;

}

.Ticketcontenedor {
    position: relative;
    display: flex;
    display: wrap;
    left: 143px;
}

.platzicontenedor {
    position: relative;
    display: flex;
    display: wrap;
    display: flex;
    display: wrap;
    left: 123px;
}

.confamacontenedor {
    position: relative;
    display: flex;
    display: wrap;
    top: -12px;
    left: 110px;
}

.campanitacontenedor {
    position: relative;
    display: flex;
    display: wrap;
    top: -9px;
    left: 134px;

}

.mensajescontenedor {
    position: relative;
    display: flex;
    display: wrap;
    top: -10px;
    left: 110px;
}

.ajustescontenedor {
    position: relative;
    display: flex;
    display: wrap;
    left: 86px;
    top: -11px;
}

.personacontenedor {
    position: relative;
    display: flex;
    display: wrap;
    top: -11px;
    left: 60px;
}

.platzi {
    position: absolute;
    left: 804px;
    top: 28px;
}